openapi: "3.0.3"

info:
  title: VAPI — Self-Verifying Integration SDK REST API
  version: "3.0.0-phase135"
  description: |
    The VAPI REST API exposes Proof of Authentic Controller (PoAC) submission,
    on-chain verification, device PHCI certification, SDK self-attestation,
    PHG humanity scoring, soulbound credential minting, cross-controller
    biometric normalization, and tournament operator gate endpoints for Unity,
    Unreal Engine, web, and webhook integrations.

    **Primary device:** Sony DualShock Edge (PHCI CERTIFIED)
    **Protocol:** 228-byte PoAC record — base64-encoded in all REST payloads

    ## Authentication
    All write endpoints require a Bearer token (JWT signed with your VAPI API key).
    Read endpoints (GET) are unauthenticated for public leaderboard/profile data.

    ## Rate Limits
    - POST /records: 10 req/s per device_id
    - POST /session/self-verify: 1 req/s per session_id
    - GET endpoints: 100 req/s per API key

    ## PoAC Wire Format (228 bytes, base64-encoded)
    ```
    [ 0.. 31] prev_poac_hash       SHA-256 of previous record (genesis = 0x00*32)
    [32.. 63] sensor_commitment    SHA-256 of kinematic/haptic sensor frame
    [64.. 95] model_manifest_hash  SHA-256 of TinyML model binary
    [96..127] world_model_hash     SHA-256 of EWC world model weights
    [128]     inference_result     uint8 (see Inference Codes)
    [129]     action_code          uint8
    [130]     confidence           uint8 (0–255)
    [131]     battery_pct          uint8 (0–100)
    [132..135] monotonic_ctr       uint32 big-endian
    [136..143] timestamp_ms        uint64 big-endian (Unix epoch ms)
    [144..151] latitude            double big-endian
    [152..159] longitude           double big-endian
    [160..163] bounty_id           uint32 big-endian
    [164..227] signature           ECDSA-P256 raw r‖s over SHA-256(body)
    ```

    ## Inference Codes
    | Code | Name | Layer | Type |
    |------|------|-------|------|
    | 0x20 | NOMINAL | — | Clean |
    | 0x28 | DRIVER_INJECT | L2 | **Cheat** |
    | 0x29 | WALLHACK_PREAIM | L3 | **Cheat** |
    | 0x2A | AIMBOT_BEHAVIORAL | L3 | **Cheat** |
    | 0x2B | TEMPORAL_ANOMALY | L5 | Advisory |
    | 0x30 | BIOMETRIC_ANOMALY | L4 | Advisory |
    | 0x31 | IMU_PRESS_DECOUPLED | L2B | Advisory |
    | 0x32 | STICK_IMU_DECOUPLED | L2C | Advisory |

servers:
  - url: https://api.vapi.gg/v1
    description: Production (IoTeX mainnet)
  - url: https://testnet.api.vapi.gg/v1
    description: Testnet (IoTeX testnet)
  - url: http://localhost:8080/v1
    description: Local bridge (development)

tags:
  - name: Records
    description: Submit and query PoAC records
  - name: Chain
    description: On-chain verification and chain integrity
  - name: Device
    description: PHCI device profiles and certification
  - name: Session
    description: Session management and SDK self-verification
  - name: Bounty
    description: Bounty market integration
  - name: Leaderboard
    description: SkillOracle ratings and leaderboard
  - name: Player
    description: PHG player profiles, biometric proofs, and session history
  - name: Credential
    description: PHGCredential soulbound on-chain identity (Phase 28)
  - name: Enrollment
    description: "PHGCredential enrollment ceremony — Phase 62. Studios gate
      tournament entry on status='credentialed'."
  - name: OperatorGate
    description: Tournament Operator Gate API — HMAC-signed eligibility for game servers (Phase 29)
  - name: BridgeAgent
    description: "Conversational AI agent for natural-language protocol queries — wraps bridge data as Claude tools. Phase 30 adds synchronous ask(); Phase 31 adds SSE streaming, SQLite session persistence, react(), and 3 new tools; Phase 36 adds get_detection_policy (17th tool); Phase 37 adds get_credential_status (18th tool): complete evidence chain from biometric anomaly to trajectory label to enforcement action."
  - name: Federation
    description: >-
      Cross-bridge threat signal broadcast — event-driven BLOCK ruling federation to peer
      VAPI bridge instances. Phase 80 introduces FederationBroadcastAgent (first purely
      event-driven agent, no polling loop), HMAC-SHA256 authenticated POST
      /federation/threat-signal receiver, GET /federation/peers, and
      FederatedThreatRegistry.sol on-chain threat signal anchor with
      isThreatSignaled() tournament gate composability. <100ms peer delivery
      vs 5-min polling lag (150x speedup). Phase 34 introduced cluster-hash
      fingerprint sharing via FederationBus.
  - name: Synthesis
    description: Longitudinal insight synthesis — rolling 24h/7d/30d digests and per-device risk trajectory labels (stable/warming/critical/cleared). Phase 35 adds InsightSynthesizer background task and query_digest agent tool (16 tools total).
  - name: AdaptiveFeedback
    description: "Adaptive adversarial feedback loop — InsightSynthesizer Mode 4 translates risk labels into per-device PITL threshold multipliers stored in detection_policies. Phase 36 adds: _synthesize_detection_policies() (Mode 4), get_detection_policy BridgeAgent tool (17 tools total), Prometheus /metrics endpoint, in-memory rate limiting, and production hardening (batcher drain, ProactiveMonitor eviction, FederationBus DB seeding, schema_versions registry)."
  - name: CredentialEnforcement
    description: "Provisional credential enforcement — InsightSynthesizer Mode 5 translates consecutive critical trajectory labels (≥2 windows) into PHGCredential suspensions on-chain. Suspensions are graduated (exponential duration: base×2^n, capped at 28d), reversible (cleared label auto-reinstates), and evidence-anchored (SHA-256 hash of insight_digest row). TournamentGateV3 adds isActive() check to V2's cumulative+velocity gates. AlertRouter dispatches enforcement events to operator webhooks. Phase 37."
  - name: Agent
    description: "Autonomous Intelligence Layer (AIL) — Phase 65. SessionAdjudicator
      rulings, on-demand adjudication requests, and agentic data interpretation overlay.
      All rulings carry a commitment_hash binding verdict to evidence and SDKAttestation
      trust anchor. BLOCK/CERTIFY require SDKAttestation.all_layers_active=True."
  - name: Curator
    description: "Data Curator Layer — Phase 69/70. DataCuratorAgent 7-class taxonomy,
      data lineage provenance, token eligibility with DePIN multiplier stack
      (passport 1.5×→enrollment 2.0×→streak 2.5×→MPC 1.25×→gate 3.0×), oracle state
      queries (HumanityOracle/RulingOracle/PassportOracle), and sovereignty pledge
      publication. BridgeAgent tools #41–45. GET /agent/validation-stats unified
      observability endpoint aggregates proof counts, enrollment pipeline, curator
      lineage, and ruling enforcement state."
  - name: Governance
    description: "PHGCredential bridge-layer governance — Phase 72. Multi-sig suspension
      proposals for PHGCredential.suspend() with configurable confirmation threshold
      (SUSPENSION_MULTISIG_THRESHOLD env var, default 1). PHGCredential.bridge is
      immutable post-deploy; this is a software safeguard requiring operational key
      separation. Three-step flow: propose → confirm (N times) → execute on-chain."

paths:

  # ---------------------------------------------------------------------------
  # Records
  # ---------------------------------------------------------------------------

  /records:
    post:
      tags: [Records]
      summary: Submit a PoAC record
      description: |
        Submit a 228-byte PoAC record for on-chain verification.
        The bridge will verify the ECDSA-P256 signature, check chain linkage,
        run PITL classification, and submit to IoTeX PoACVerifier.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecordSubmitRequest"
            example:
              device_id: "0xabcdef1234..."
              record_b64: "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA..."
              session_id: "sess_abc123"
      responses:
        "202":
          description: Accepted — record queued for on-chain submission
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecordSubmitResponse"
        "400":
          description: Bad request (invalid size, bad signature, chain broken)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /records/{record_hash}:
    get:
      tags: [Records]
      summary: Get record details
      description: Retrieve a parsed PoAC record by its SHA-256 body hash (hex).
      parameters:
        - $ref: "#/components/parameters/RecordHash"
      responses:
        "200":
          description: Record found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecordDetail"
        "404":
          $ref: "#/components/responses/NotFound"

  /records/batch:
    post:
      tags: [Records]
      summary: Submit multiple PoAC records
      description: |
        Submit an ordered batch of PoAC records in a single request.
        Records must form an unbroken chain (each prev_poac_hash links correctly).
        Maximum batch size: 64 records.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchSubmitRequest"
      responses:
        "202":
          description: Batch accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchSubmitResponse"
        "400":
          description: Chain broken or record count exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ---------------------------------------------------------------------------
  # Chain
  # ---------------------------------------------------------------------------

  /chain/verify:
    post:
      tags: [Chain]
      summary: Verify a PoAC record on-chain
      description: |
        Synchronously verify a PoAC record against IoTeX PoACVerifier.
        Returns the on-chain inference stored for this record.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChainVerifyRequest"
      responses:
        "200":
          description: Verification result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChainVerifyResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /chain/integrity:
    post:
      tags: [Chain]
      summary: Verify chain integrity for a sequence of records
      description: |
        Check that an ordered list of record hashes forms an unbroken PoAC chain.
        Client-side check — no IoTeX RPC call required. Fast and suitable for
        real-time session validation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChainIntegrityRequest"
      responses:
        "200":
          description: Chain integrity result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChainIntegrityResponse"
        "400":
          $ref: "#/components/responses/BadRequest"

  # ---------------------------------------------------------------------------
  # Device
  # ---------------------------------------------------------------------------

  /devices/{profile_id}:
    get:
      tags: [Device]
      summary: Get device profile
      description: Retrieve the DeviceProfile for a known controller model.
      parameters:
        - name: profile_id
          in: path
          required: true
          schema:
            type: string
            enum:
              - sony_dualshock_edge_v1
              - sony_generic_dualsense_v1
              - scuf_reflex_pro_v1
              - battle_beaver_dualshock_edge_v1
              - hori_fighting_commander_ps5_v1
              - xbox_elite_s2_v1
          example: sony_dualshock_edge_v1
      responses:
        "200":
          description: Device profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceProfile"
        "404":
          $ref: "#/components/responses/NotFound"

  /devices:
    get:
      tags: [Device]
      summary: List all PHCI-registered device profiles
      description: Returns all registered DeviceProfile entries with PHCI tier and certification status.
      responses:
        "200":
          description: List of device profiles
          content:
            application/json:
              schema:
                type: object
                properties:
                  profiles:
                    type: array
                    items:
                      $ref: "#/components/schemas/DeviceProfile"
                  count:
                    type: integer

  /devices/{profile_id}/certification:
    get:
      tags: [Device]
      summary: Get PHCI certification for a device profile
      description: |
        Returns full PHCICertification: score, tier, passed/failed checks.
        CERTIFIED tier requires adaptive triggers + gyro + accel + all PITL layers.
      parameters:
        - name: profile_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: PHCI certification result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PHCICertification"
        "404":
          $ref: "#/components/responses/NotFound"

  # ---------------------------------------------------------------------------
  # Session
  # ---------------------------------------------------------------------------

  /sessions:
    post:
      tags: [Session]
      summary: Create a VAPI session
      description: |
        Create a new session tied to a device profile and player identity.
        Returns a session_id used for all subsequent record submissions.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SessionCreateRequest"
      responses:
        "201":
          description: Session created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionCreateResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /sessions/{session_id}:
    get:
      tags: [Session]
      summary: Get session summary
      description: Retrieve session statistics — record counts, chain integrity, detection summary.
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/SessionId"
      responses:
        "200":
          description: Session summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionSummary"
        "404":
          $ref: "#/components/responses/NotFound"

  /sessions/{session_id}/self-verify:
    post:
      tags: [Session]
      summary: SDK self-verification (novel)
      description: |
        Execute VAPI SDK self-verification. Probes all four PITL layers (L2–L5),
        synthesizes a 25-frame constant-interval bot session to functionally verify
        L5 TemporalRhythmOracle fires, and returns a cryptographically-bound
        SDKAttestation.

        The attestation_hash is a SHA-256 commitment over layer states, detection
        scores, SDK version, and a nanosecond timestamp — suitable for on-chain
        submission as proof of correct SDK wiring.

        **This endpoint requires no hardware.** It works in CI, headless, Docker.
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/SessionId"
      responses:
        "200":
          description: SDK attestation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SDKAttestation"
              example:
                sdk_version: "1.0.0-phase28"
                layers_active:
                  L2_hid_xinput: true
                  L3_behavioral: true
                  L4_biometric: true
                  L5_temporal: true
                pitl_scores:
                  L2_hid_xinput: 1.0
                  L3_behavioral: 1.0
                  L4_biometric: 1.0
                  L5_temporal: 1.0
                all_layers_active: true
                active_layer_count: 4
                zk_proof_available: false
                verified_at: 1708732800.123456789
                attestation_hash_hex: "17f2932c18a0538b528d96b6..."
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  # ---------------------------------------------------------------------------
  # Bounty
  # ---------------------------------------------------------------------------

  /bounties:
    get:
      tags: [Bounty]
      summary: List active bounties
      description: Returns open BountyMarket bounties filtered by device tier and zone.
      parameters:
        - name: tier
          in: query
          schema:
            type: string
            enum: [NONE, STANDARD, CERTIFIED]
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        "200":
          description: Active bounties
          content:
            application/json:
              schema:
                type: object
                properties:
                  bounties:
                    type: array
                    items:
                      $ref: "#/components/schemas/Bounty"

  /bounties/{bounty_id}/evidence:
    post:
      tags: [Bounty]
      summary: Submit evidence for a bounty
      description: |
        Submit a verified PoAC record hash as evidence for a bounty.
        The record must already be verified on-chain (POST /chain/verify first).
        Device must be STANDARD or CERTIFIED tier to claim.
      security:
        - BearerAuth: []
      parameters:
        - name: bounty_id
          in: path
          required: true
          schema:
            type: integer
            format: uint32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [device_id, record_hash]
              properties:
                device_id:
                  type: string
                  description: keccak256(pubkey) hex
                record_hash:
                  type: string
                  description: SHA-256(PoAC body) hex
      responses:
        "200":
          description: Evidence accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  tx_hash:
                    type: string
                  reward_iotx:
                    type: string
        "403":
          description: Device tier ineligible or record contains cheat inference
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ---------------------------------------------------------------------------
  # Leaderboard
  # ---------------------------------------------------------------------------

  /leaderboard/{device_id}:
    get:
      tags: [Leaderboard]
      summary: Get SkillOracle rating for a device
      description: Returns ELO rating [0–3000], tier, and recent rating history.
      parameters:
        - name: device_id
          in: path
          required: true
          schema:
            type: string
          description: keccak256(pubkey) hex
      responses:
        "200":
          description: Device rating
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceRating"
        "404":
          $ref: "#/components/responses/NotFound"

  /leaderboard:
    get:
      tags: [Leaderboard]
      summary: Global leaderboard
      parameters:
        - name: tier
          in: query
          schema:
            type: string
            enum: [Bronze, Silver, Gold, Platinum, Diamond]
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: Leaderboard entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  entries:
                    type: array
                    items:
                      $ref: "#/components/schemas/DeviceRating"
                  total:
                    type: integer

  # ---------------------------------------------------------------------------
  # Player (PHG Dashboard API — Phase 21–28, mounted at /dash)
  # ---------------------------------------------------------------------------

  /dash/api/v1/player/{device_id}/profile:
    get:
      tags: [Player]
      summary: Get PHG player profile
      description: |
        Returns PHG trust score (raw + humanity-weighted), PITL averages, and
        biometric fingerprint availability for a device. Phase 21.
      parameters:
        - $ref: "#/components/parameters/DeviceId"
      responses:
        "200":
          description: Player profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerProfile"
        "404":
          $ref: "#/components/responses/NotFound"

  /dash/api/v1/pitl/timeline:
    get:
      tags: [Player]
      summary: PITL detection timeline
      description: |
        Returns non-NOMINAL inference events bucketed by minute for the given
        lookback window. Excludes 0x20 NOMINAL records. Phase 21.
      parameters:
        - name: minutes
          in: query
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 60
      responses:
        "200":
          description: Detection timeline buckets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PITLBucket"

  /dash/api/v1/player/{device_id}/checkpoint-chain:
    get:
      tags: [Player]
      summary: PHG checkpoint chain for a device
      description: |
        Returns the ordered list of PHG checkpoints committed on-chain,
        including score deltas, biometric hashes, and confirmation status. Phase 22.
      parameters:
        - $ref: "#/components/parameters/DeviceId"
      responses:
        "200":
          description: Checkpoint chain
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PHGCheckpoint"

  /dash/api/v1/player/{device_id}/continuity-chain:
    get:
      tags: [Player]
      summary: Biometric continuity chain for a device
      description: |
        Returns attestation claims showing biometric identity portability —
        which devices this one continued from or is continued by. Phase 23.
      parameters:
        - $ref: "#/components/parameters/DeviceId"
      responses:
        "200":
          description: Continuity claims
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ContinuityClaim"

  /dash/api/v1/player/{device_id}/behavioral-report:
    get:
      tags: [Player]
      summary: Behavioral archaeology report
      description: |
        Returns warmup-attack score, burst-farming score, drift trend slope,
        and biometric stability for adversarial pattern detection. Phase 26.
        Returns 503 when BehavioralArchaeologist module is not initialized.
      parameters:
        - $ref: "#/components/parameters/DeviceId"
      responses:
        "200":
          description: Behavioral report
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BehavioralReport"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          description: Behavioral module not initialized

  /dash/api/v1/player/{device_id}/pitl-proof:
    get:
      tags: [Player]
      summary: Most recent PITL session proof
      description: |
        Returns the most recent PITL session proof for a device, containing
        nullifier_hash, feature_commitment, and humanity_prob_int used for
        PHGCredential minting. Phase 26.
      parameters:
        - $ref: "#/components/parameters/DeviceId"
      responses:
        "200":
          description: PITL session proof
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PITLProof"
        "404":
          $ref: "#/components/responses/NotFound"

  /dash/api/v1/network/farm-detection:
    get:
      tags: [Player]
      summary: Network farm detection clusters
      description: |
        Returns device clusters with correlated behavioral patterns indicating
        coordinated farming attacks. Phase 26.
        Returns 503 when NetworkCorrelationDetector is not initialized.
      responses:
        "200":
          description: Farm detection results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FarmCluster"
        "503":
          description: Network detector not initialized

  # ---------------------------------------------------------------------------
  # Credential (Phase 28 — PHGCredential soulbound on-chain identity)
  # ---------------------------------------------------------------------------

  /dash/api/v1/player/{device_id}/credential:
    get:
      tags: [Credential]
      summary: Get PHGCredential for a device
      description: |
        Returns the minted PHGCredential for a device if it exists.
        PHGCredentials are soulbound (ERC-5192, locked=true) and bound to
        deviceId (keccak256 of pubkey). Phase 28.
      parameters:
        - $ref: "#/components/parameters/DeviceId"
      responses:
        "200":
          description: PHGCredential record
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PHGCredential"
        "404":
          description: No credential minted for this device

  /dash/api/v1/leaderboard:
    get:
      tags: [Credential]
      summary: PHG humanity leaderboard
      description: |
        Returns top devices ordered by confirmed cumulative PHG score.
        Only devices with at least one confirmed (on-chain) checkpoint appear.
        Scores derived from confirmed=1 phg_checkpoints only. Phase 28.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Leaderboard entries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PHGLeaderboardEntry"

  /dash/api/v1/player/{device_id}/eligibility:
    get:
      tags: [Credential]
      summary: PHG bounty eligibility for a device
      description: |
        Returns whether a device meets the TournamentGateV2 eligibility criteria
        (minCumulative score AND minVelocity). Falls back to SQLite when chain
        is not configured. Phase 28.
      parameters:
        - $ref: "#/components/parameters/DeviceId"
      responses:
        "200":
          description: Eligibility status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PHGEligibility"

  /proof/{device_id}:
    get:
      tags: [Credential]
      summary: Shareable humanity proof page
      description: |
        Returns an HTML proof page displaying device humanity score, credential
        ID, nullifier prefix, and a QR-ready proof URL. Designed for social
        sharing — no authentication required. Phase 28.
      parameters:
        - $ref: "#/components/parameters/DeviceId"
      responses:
        "200":
          description: HTML proof page
          content:
            text/html:
              schema:
                type: string

  /enrollment/status/{device_id}:
    get:
      tags: [Enrollment]
      summary: Get PHGCredential enrollment status
      description: |
        Enrollment progress toward PHGCredential soulbound token.
        Status lifecycle: pending → eligible → minting → credentialed (or failed).
        Only NOMINAL sessions (0x20 or NULL) count. Hard cheats block permanently.
      parameters:
        - $ref: "#/components/parameters/DeviceId"
      responses:
        "200":
          description: Always 200 (pending if device unknown)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnrollmentStatus"

  # ---------------------------------------------------------------------------
  # Agent — Autonomous Intelligence Layer (Phase 65)
  # ---------------------------------------------------------------------------

  /agent/rulings/{device_id}:
    get:
      tags: [Agent]
      summary: Get autonomous agent rulings
      description: |
        Return SessionAdjudicator rulings for a device, most recent first.
        Each ruling carries a commitment_hash binding verdict to evidence hashes
        and the SDKAttestation trust anchor. dry_run=true rulings are local-only
        and do not trigger enforcement actions.
      parameters:
        - $ref: "#/components/parameters/DeviceId"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        "200":
          description: Rulings list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRulingList"

  /agent/adjudicate:
    post:
      tags: [Agent]
      summary: Queue on-demand adjudication request
      description: |
        Queue an autonomous adjudication request for a device.
        SessionAdjudicator picks it up within 5 minutes and stores a ruling
        in the agent_rulings table. Include attestation_hash from SDKAttestation
        to enable BLOCK/CERTIFY verdicts (requires all_layers_active=True).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdjudicateRequest"
      responses:
        "200":
          description: Event queued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdjudicateResponse"
        "400":
          description: Missing device_id
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /agent/interpret:
    post:
      tags: [Agent]
      summary: Agentic overlay — enrich VAPI data with LLM interpretation
      description: |
        Stateless agentic overlay endpoint. Any VAPI data payload + optional
        context string is routed through claude-opus-4-6 for structured
        interpretation. Returns data dict merged with agent_interpretation field.
        Offline-safe: returns {status: 'unavailable'} if ANTHROPIC_API_KEY missing.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InterpretRequest"
      responses:
        "200":
          description: Data enriched with agent interpretation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InterpretResponse"

  /agent/override:
    post:
      tags: [Agent]
      summary: "Phase 66 — Operator override: clear ruling streak and re-enable eligibility"
      description: |
        Operator-authenticated endpoint. Issues a CLEAR ruling for the specified device,
        resets the ruling streak to zero, and emits a `ruling_enforced` agent event.
        Use when manual review confirms a false positive BLOCK verdict.
        Requires x-api-key header matching OPERATOR_API_KEY.
      security:
        - OperatorApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OverrideRequest"
      responses:
        "200":
          description: Streak cleared, CLEAR ruling recorded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OverrideResponse"
        "400":
          description: Missing device_id
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Invalid or missing operator API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /agent/suspension-status/{device_id}:
    get:
      tags: [Agent]
      summary: "Phase 67 — Current PHGCredential suspension state for a device"
      description: |
        Returns whether a device is currently under an active PHGCredential suspension
        (result of a BLOCK ruling streak), including time remaining and current ruling
        streak. Auto-reinstated by the bridge once `suspended_until` passes.
      parameters:
        - name: device_id
          in: path
          required: true
          schema:
            type: string
          description: "keccak256(devicePubkey) — same as used in PITL records"
      responses:
        "200":
          description: Suspension status for the device
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuspensionStatus"
        "429":
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /agent/config:
    post:
      tags: [Agent]
      summary: "Phase 68 — Toggle SessionAdjudicator dry_run mode at runtime"
      description: |
        Operator-authenticated endpoint to switch the SessionAdjudicator between
        advisory (dry_run=true) and live enforcement (dry_run=false) modes at runtime.
        Setting dry_run=false enables live rulings that feed RulingEnforcementAgent.
        Requires x-api-key header matching OPERATOR_API_KEY.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentConfig"
      responses:
        "200":
          description: Updated agent configuration
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentConfig"
        "400":
          description: Missing dry_run field
        "401":
          description: Invalid or missing x-api-key
        "429":
          description: Rate limit exceeded

  # ---------------------------------------------------------------------------
  # Operator Gate (Phase 29 — HMAC-signed eligibility for tournament operators)
  # ---------------------------------------------------------------------------

  /operator/health:
    get:
      tags: [OperatorGate]
      summary: Operator API health check
      description: |
        Returns API status and whether an operator key is configured.
        Does NOT require api_key authentication.
      responses:
        "200":
          description: Health status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  operator_key_configured:
                    type: boolean

  /operator/gate/{device_id}:
    get:
      tags: [OperatorGate]
      summary: Single-device eligibility check (HMAC-signed)
      description: |
        Returns a signed eligibility response for one device. Tournament operators
        verify the HMAC-SHA256 signature to confirm the response was generated by
        the bridge and not tampered with.

        **Signature algorithm:**
        `sig = HMAC-SHA256(f"{device_id}:{int(eligible)}:{timestamp}", api_key).hexdigest()`

        **Eligibility rule (v1):** `cumulative_score > 0` (device has at least one
        confirmed PHG checkpoint). Phase 29.
      parameters:
        - $ref: "#/components/parameters/DeviceId"
        - name: api_key
          in: query
          required: true
          schema:
            type: string
          description: Shared operator API key (set via OPERATOR_API_KEY env var)
      responses:
        "200":
          description: Signed eligibility response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperatorGateResponse"
        "403":
          description: Invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: Operator API not configured (OPERATOR_API_KEY not set)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /operator/gate/batch:
    post:
      tags: [OperatorGate]
      summary: Batch eligibility check (up to 50 devices)
      description: |
        Returns signed eligibility responses for a list of device IDs (max 50).
        Useful for pre-match eligibility screening. Phase 29.
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
          description: Shared operator API key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
                pattern: "^[0-9a-f]{64}$"
              minItems: 1
              maxItems: 50
              description: List of device_id hex strings (64 chars each)
            example: ["abcd1234..."]
      responses:
        "200":
          description: List of signed eligibility responses
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/OperatorGateResponse"
        "403":
          description: Invalid API key
        "503":
          description: Operator API not configured

  /operator/agent:
    post:
      tags: [BridgeAgent]
      summary: Conversational AI agent for natural-language protocol queries (Phase 30)
      description: |
        Ask the VAPI Bridge Agent natural-language questions about players, eligibility,
        PITL distributions, leaderboard, continuity chains, and system health.

        The agent uses Claude (claude-haiku-4-5-20251001) with tool_use to fetch real
        bridge data before responding. Session history is preserved in-memory by
        `session_id` enabling multi-turn dialogue.

        Requires: `OPERATOR_API_KEY` env var (same key as /gate endpoints).
        Returns HTTP 503 if the `anthropic` Python package is not installed.
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
          description: Shared operator API key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BridgeAgentRequest"
      responses:
        "200":
          description: Agent response with optional tool usage trace
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BridgeAgentResponse"
        "403":
          description: Invalid API key
        "503":
          description: Operator API not configured or anthropic package not installed

  /operator/agent/stream:
    get:
      tags: [BridgeAgent]
      summary: Streaming BridgeAgent via Server-Sent Events (Phase 31)
      description: |
        Stream BridgeAgent responses token-by-token using Server-Sent Events.
        The agent reasons over real bridge data via tool_use; each tool invocation
        yields tool_start and tool_result events before the final text stream.

        Session history is persisted in SQLite (Phase 31) — re-use session_id
        across requests to maintain multi-turn context across bridge restarts.

        **SSE Event stream format:** Each event is a JSON object on a `data:` line.
        See `BridgeAgentStreamEvent` schema for the full event type enumeration.
      parameters:
        - name: session_id
          in: query
          required: true
          schema:
            type: string
          description: Caller-managed session identifier for conversation continuity.
        - name: message
          in: query
          required: true
          schema:
            type: string
          description: Natural-language question or command for the agent.
        - name: api_key
          in: query
          required: true
          schema:
            type: string
          description: Shared operator API key
      responses:
        "200":
          description: SSE stream of BridgeAgentStreamEvent objects
          content:
            text/event-stream:
              schema:
                $ref: "#/components/schemas/BridgeAgentStreamEvent"
        "403":
          description: Invalid API key
        "422":
          description: Missing required query parameter
        "503":
          description: Operator API not configured or anthropic package not installed

  /operator/insights:
    get:
      tags: [BridgeAgent]
      summary: Get recent proactive protocol insights (Phase 32)
      description: |
        Returns the most recent proactive protocol insights generated by the
        `ProactiveMonitor` background task and `BridgeAgent.react()`.

        Insight types:
        - `bot_farm_cluster`: NetworkCorrelationDetector flagged a new coordinated cluster
        - `high_risk_trajectory`: BehavioralArchaeologist detected a high-risk device pattern
        - `near_eligibility`: A device crossed the PHG eligibility threshold (score > 0)
        - `anomaly_reaction`: BridgeAgent autonomously interpreted a PITL anomaly via `react()`

        Results are ordered DESC by `created_at` (most recent first).
        Real-time alerts are also broadcast over the `/ws/records` WebSocket as
        `ProactiveAlertEvent` objects.
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 20
            maximum: 100
          description: Number of insights to return (max 100)
        - name: api_key
          in: query
          required: true
          schema:
            type: string
          description: Shared operator API key (OPERATOR_API_KEY)
      responses:
        "200":
          description: Array of protocol insights DESC by created_at
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProtocolInsight"
        "403":
          description: Invalid API key
        "422":
          description: Missing required query parameter

  /operator/federation/clusters:
    get:
      tags: [Federation]
      summary: Get locally-detected federation clusters (Phase 34)
      description: |
        Returns clusters detected locally by this bridge and shared with the federation
        via FederationBus. Only `is_local=true` records are returned to prevent echo
        amplification when peer bridges query this endpoint.

        Cross-bridge confirmation (≥2 bridges reporting the same cluster hash) triggers
        a `federated_cluster` protocol insight and optional on-chain anchor via
        `FederatedThreatRegistry.sol`.

        **Privacy model:** Only 16-char SHA-256 hex fingerprints of sorted device ID
        sets are shared — raw device IDs never leave the originating bridge.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
          description: Maximum number of clusters to return (capped at 200)
        - name: api_key
          in: query
          required: true
          schema:
            type: string
          description: Shared operator API key
      responses:
        "200":
          description: List of locally-detected federation clusters
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FederationCluster"
        "403":
          description: Invalid API key
        "422":
          description: Missing required query parameter

  /operator/digest:
    get:
      tags: [Synthesis]
      summary: Get longitudinal insight digests (Phase 35)
      description: |
        Returns rolling 24h/7d/30d insight digests synthesized by `InsightSynthesizer`
        every 6 hours. Each digest compresses `protocol_insights` records into a
        structured summary: bot-farm counts, high-risk trajectories, federated cluster
        confirmations, anomalies, eligible device counts, dominant severity, and a
        template-based narrative.

        Optionally filter by `window` to retrieve a single digest for a specific
        time window (`24h`, `7d`, or `30d`). The default `window=all` returns the
        most recent digest for each window label.

        **Device risk labels** are persisted separately via a `device_risk_labels` table.
        The state machine transitions: `stable → warming → critical → cleared`.
        - `critical`: ≥2 bot-farm or federated-cluster signals in 7d window
        - `warming`: ≥1 critical signal OR ≥3 advisory signals
        - `cleared`: prior `critical`/`warming` label with 0 new signals in 7d
        - `stable`: no significant signals

        **Privacy model:** No raw device IDs appear in narratives. `top_devices` lists
        only anonymized identifiers from the `protocol_insights` table.
      parameters:
        - name: window
          in: query
          required: false
          schema:
            type: string
            enum: [all, 24h, 7d, 30d]
            default: all
          description: "Time window to filter digests. 'all' returns latest digest per window."
        - name: api_key
          in: query
          required: true
          schema:
            type: string
          description: Shared operator API key
      responses:
        "200":
          description: Synthesis report with digests and device risk summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SynthesisReport"
              example:
                synthesis_available: true
                digests:
                  - id: 42
                    window_label: "24h"
                    synthesized_at: 1700000000.0
                    bot_farm_count: 3
                    high_risk_count: 1
                    federated_count: 2
                    anomaly_count: 5
                    eligible_count: 12
                    dominant_severity: "critical"
                    top_devices: ["dev_aabb1234", "dev_ccdd5678"]
                    narrative: "24h: 3 bot-farm, 1 high-risk trajectory, 2 federated-cluster, 5 anomaly signals across 5 devices."
                critical_devices: []
                warming_devices:
                  - device_id: "dev_eeff9012"
                    risk_label: "warming"
                    label_evidence: {bot: 1, high_risk: 0, fed: 0, anomaly: 2}
                    label_set_at: 1699999999.0
                    prior_label: "stable"
        "400":
          description: "Invalid window value — must be '24h', '7d', '30d', or 'all'"
        "403":
          description: Invalid API key
        "422":
          description: Missing required query parameter

  /operator/enforcement:
    get:
      tags: [CredentialEnforcement]
      summary: Get PHGCredential enforcement state (Phase 37)
      description: |
        Returns credential enforcement state driven by `InsightSynthesizer` Mode 5.

        - `device_id` provided: returns enforcement row for that specific device (suspended or not).
        - `device_id` omitted: returns all currently suspended credentials.

        **Suspension lifecycle:**
        A PHGCredential is suspended when a device accumulates `≥ credential_enforcement_min_consecutive`
        (default: 2) consecutive 7-day windows labeled `critical` by `InsightSynthesizer`. The
        suspension is anchored to an immutable `insight_digest` row via `evidence_hash`. Duration
        is exponential: `base_days × 2^(consecutive − min_consecutive)`, capped at `max_days`.

        **Reinstatement:** Automatic when the device's next 7-day window is labeled `cleared`
        by `InsightSynthesizer` — no manual action required.

        **On-chain:** Each suspension/reinstatement also calls `PHGCredential.suspend()`/`reinstate()`
        on-chain via the bridge, gating `TournamentGateV3.assertEligible()` for tournament access.
      parameters:
        - name: device_id
          in: query
          required: false
          schema:
            type: string
          description: "Optional device ID. If provided, returns enforcement row for that device. If omitted, returns all suspended credentials."
        - name: api_key
          in: query
          required: true
          schema:
            type: string
          description: Shared operator API key
      responses:
        "200":
          description: Credential enforcement state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CredentialEnforcementResponse"
              example:
                suspended_count: 1
                suspended_devices:
                  - device_id: "aabbccddaabbccddaabbccddaabbccddaabbccddaabbccddaabbccddaabbccdd"
                    consecutive_critical: 3
                    suspended: 1
                    suspended_since: 1700000000.0
                    suspended_until: 1700604800.0
                    evidence_hash: "a1b2c3d4e5f60001"
                    last_updated: 1700000000.0
                enforcement_enabled: true
                min_consecutive_windows: 2
        "403":
          description: Invalid API key
        "422":
          description: Missing required query parameter

  /operator/metrics:
    get:
      tags: [AdaptiveFeedback]
      summary: Prometheus-compatible metrics endpoint (Phase 36)
      description: |
        Returns bridge operational metrics in Prometheus text format.
        No authentication required — safe for Prometheus scrape targets.

        **10 metrics exposed:**
        - `vapi_records_submitted_total` (counter) — total PoAC records submitted
        - `vapi_records_failed_total` (counter) — total submissions failed after retries
        - `vapi_records_per_minute` (gauge) — rolling 60s submission rate
        - `vapi_active_devices` (gauge) — currently active device count
        - `vapi_rpc_errors_total` (counter) — total RPC failures
        - `vapi_uptime_seconds` (gauge) — bridge uptime
        - `vapi_critical_devices` (gauge) — devices labeled critical by InsightSynthesizer
        - `vapi_warming_devices` (gauge) — devices labeled warming by InsightSynthesizer
        - `vapi_digests_synthesized` (gauge) — active longitudinal digests count
        - `vapi_active_detection_policies` (gauge) — non-expired adaptive detection policies
      responses:
        "200":
          description: Prometheus text format metrics
          content:
            text/plain:
              schema:
                type: string
              example: |
                # HELP vapi_records_submitted_total Total PoAC records submitted
                # TYPE vapi_records_submitted_total counter
                vapi_records_submitted_total 1024
                # HELP vapi_critical_devices Devices labeled critical by InsightSynthesizer
                # TYPE vapi_critical_devices gauge
                vapi_critical_devices 3

# =============================================================================
# Phase 70 — Curator + Validation Stats Endpoints
# =============================================================================

  /agent/validation-stats:
    get:
      summary: Get unified validation statistics
      description: "Aggregated protocol observability: proof counts, enrollment pipeline
        state, data curator lineage metrics, and ruling enforcement state. Phase 70."
      tags: [Curator]
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
          description: Operator API key
      responses:
        "200":
          description: Validation statistics snapshot
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationStats"
        "401":
          description: Unauthorized — invalid or missing api_key

  /curator/data-lineage:
    get:
      summary: Get data lineage records for a device
      description: "Returns data provenance records for a device. Each record includes
        data_type, quality_score, curator_note, and timestamp. Phase 69/70."
      tags: [Curator]
      parameters:
        - name: device_id
          in: query
          required: true
          schema:
            type: string
          description: 64-hex device ID
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
        - name: api_key
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Data lineage list
          content:
            application/json:
              schema:
                type: object
                properties:
                  device_id:
                    type: string
                  lineage_count:
                    type: integer
                  lineage:
                    type: array
                    items:
                      type: object
                      properties:
                        data_type:
                          type: string
                        quality_score:
                          type: number
                        curator_note:
                          type: string
                        created_at:
                          type: number

  /curator/token-eligibility:
    get:
      summary: Get DePIN token eligibility state for a device
      description: "Returns token eligibility with multiplier breakdown. Multiplier
        stack: passport 1.5× → enrollment 2.0× → streak 2.5× → MPC 1.25× → gate
        3.0×. Maximum combined multiplier: ~15.75×. Phase 69/70."
      tags: [Curator]
      parameters:
        - name: device_id
          in: query
          required: true
          schema:
            type: string
        - name: api_key
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Token eligibility state
          content:
            application/json:
              schema:
                type: object
                properties:
                  device_id:
                    type: string
                  eligibility:
                    type: object
                    nullable: true
                    properties:
                      nominal_sessions:
                        type: integer
                      clean_streak:
                        type: integer
                      passport_held:
                        type: boolean
                      enrollment_complete:
                        type: boolean
                      mpc_verified:
                        type: boolean
                      gate_passed:
                        type: boolean
                      base_multiplier:
                        type: number
                      total_multiplier:
                        type: number
                      eligibility_score:
                        type: number

  /curator/oracle-state:
    get:
      summary: Get oracle publication state for a given oracle type
      description: "Returns recent on-chain oracle publications. oracle_type must be
        one of: HUMANITY, RULING, PASSPORT. Phase 69/70."
      tags: [Curator]
      parameters:
        - name: oracle_type
          in: query
          required: true
          schema:
            type: string
            enum: [HUMANITY, RULING, PASSPORT]
        - name: api_key
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Oracle state
          content:
            application/json:
              schema:
                type: object
                properties:
                  oracle_type:
                    type: string
                  publications:
                    type: array
                    items:
                      type: object
                      properties:
                        device_id:
                          type: string
                        tx_hash:
                          type: string
                        payload_json:
                          type: string
                        created_at:
                          type: number
        "400":
          description: Invalid oracle_type

# =============================================================================
# Phase 72 — PHGCredential Bridge-Layer Multi-Sig
# =============================================================================

  /operator/suspension/propose:
    post:
      summary: Propose a PHGCredential suspension
      description: |
        Propose a PHGCredential suspension for a device. Returns proposal_id.
        When SUSPENSION_MULTISIG_THRESHOLD=1 (default), a single call to
        /execute/{proposal_id} is sufficient. When threshold=2, a second
        /confirm/{proposal_id} call is required before execute proceeds.
        NOTE: PHGCredential.bridge is immutable post-deploy — this is a
        software safeguard, not cryptographic enforcement.
      tags: [Governance]
      parameters:
        - name: device_id
          in: query
          required: true
          schema:
            type: string
        - name: evidence_hash
          in: query
          required: true
          schema:
            type: string
        - name: duration_s
          in: query
          required: true
          schema:
            type: integer
        - name: api_key
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Proposal created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuspensionProposal"
        "400":
          description: Invalid parameters
        "401":
          description: Unauthorized

  /operator/suspension/confirm/{proposal_id}:
    post:
      summary: Confirm a pending suspension proposal
      description: |
        Increment the confirmation counter for a proposal. When confirmations
        reach SUSPENSION_MULTISIG_THRESHOLD, the proposal becomes executable.
      tags: [Governance]
      parameters:
        - name: proposal_id
          in: path
          required: true
          schema:
            type: integer
        - name: api_key
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Confirmation recorded
          content:
            application/json:
              schema:
                type: object
                properties:
                  proposal_id:
                    type: integer
                  confirmations:
                    type: integer
                  threshold:
                    type: integer
                  ready_to_execute:
                    type: boolean
        "400":
          description: Proposal not found, expired, or already executed
        "401":
          description: Unauthorized

  /operator/suspension/execute/{proposal_id}:
    post:
      summary: Execute a confirmed suspension proposal on-chain
      description: |
        Execute the on-chain PHGCredential.suspend() call if proposal.confirmations
        >= SUSPENSION_MULTISIG_THRESHOLD. Returns tx_hash on success.
      tags: [Governance]
      parameters:
        - name: proposal_id
          in: path
          required: true
          schema:
            type: integer
        - name: api_key
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Suspension executed on-chain
          content:
            application/json:
              schema:
                type: object
                properties:
                  proposal_id:
                    type: integer
                  device_id:
                    type: string
                  tx_hash:
                    type: string
                  duration_s:
                    type: integer
                  status:
                    type: string
                    example: executed
        "400":
          description: Proposal not found, expired, executed, or threshold not met
        "401":
          description: Unauthorized
        "503":
          description: Chain client not configured

# =============================================================================
# Phase 76 — Ruling Provenance Anchor Endpoint
# =============================================================================

  /agent/ruling-provenance/{ruling_id}:
    get:
      summary: Get cryptographic provenance anchor for a ruling
      description: |
        Returns the SHA-256 provenance anchor that binds three independent evidence streams:

        1. **commitment_hash** — Phase 66 ruling commitment hash (published on RulingRegistry.sol)
        2. **ceremony_hash** — SHA-256 of canonical ceremony data (beacon_block_number + contributor_count)
        3. **evidence_hash** — SHA-256 of the evidence set presented to the LLM (sort_keys=True)

        The composite **provenance_hash** = SHA-256(commitment_hash|ceremony_canonical|evidence_canonical)
        allows any third party to independently verify that the AI ruling was not post-hoc modified:
        recompute from the stored components and compare to provenance_hash.

        Returns 404 JSON if the ruling has not yet been anchored (RulingProvenanceAnchorAgent
        processes every 5 minutes). Phase 76.
      tags: [Agent]
      parameters:
        - name: ruling_id
          in: path
          required: true
          schema:
            type: integer
        - name: api_key
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Provenance anchor record
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RulingProvenance"
        "401":
          description: Unauthorized — invalid or missing api_key
        "404":
          description: Ruling not yet anchored

# =============================================================================
# Phase 75 — Validation Gate Endpoint
# =============================================================================

  /agent/validation-gate:
    get:
      summary: Get dry-run enforcement gate status
      description: |
        Returns the current state of the SessionAdjudicatorValidationAgent gate.
        Shows consecutive_clean ruling count, divergence count, gate_n threshold,
        gate_passed flag, and recommended action.

        When gate_passed=True, it is safe to enable live enforcement via
        POST /agent/config with AGENT_DRY_RUN=false.

        Divergence criterion: LLM verdict differs from rule fallback AND
        |llm_confidence - fallback_confidence| > VALIDATION_DIVERGENCE_THRESHOLD (default 0.3).
        Phase 75.
      tags: [Agent]
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Validation gate status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationGate"
        "401":
          description: Unauthorized — invalid or missing api_key

  /agent/live-mode-status:
    get:
      summary: Get live-mode activation readiness status
      description: |
        Returns the multi-condition readiness checklist evaluated by
        LiveModeActivationAgent. All 5 conditions must pass for
        ready_for_live_mode=true.

        Conditions: validation_gate_passed, no_recent_operator_overrides,
        no_recent_key_rotation, divergence_rate_within_tolerance,
        consecutive_clean_met.

        ADVISORY ONLY — does not automatically activate live mode.
        Operator must explicitly POST /agent/config with AGENT_DRY_RUN=false.
        Phase 79.
      tags: [Agent]
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Live-mode activation status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LiveModeStatus"
        "401":
          description: Unauthorized — invalid or missing api_key

  /agent/supervisor-status:
    get:
      summary: Get VAPI agent fleet health status
      description: |
        Returns real-time health snapshot from AgentSupervisor (Phase 83).

        Per-agent health:
          HEALTHY  — activity within stale_threshold_minutes
          STALE    — no activity within stale_threshold_minutes
          UNKNOWN  — no rows in agent's activity table
          ZOMBIE   — rows written but to 0 distinct devices (W1: loop detection)

        fleet_health:
          ALL_HEALTHY — all 9 agents HEALTHY
          DEGRADED    — 1–2 agents non-HEALTHY
          CRITICAL    — ≥3 agents non-HEALTHY, OR core agents
                        (session_adjudicator, ruling_enforcement_agent) STALE

        Core agents STALE immediately elevates to CRITICAL — these agents are
        the minimum viable set for meaningful tournament enforcement.
        Phase 83.
      tags: [Agent]
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Fleet health snapshot
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentSupervisorStatus"
        "401":
          description: Unauthorized — invalid or missing api_key

  /agent/warm-up:
    post:
      summary: Trigger adjudication warm-up batch
      description: >-
        Phase 84/100 — Pre-warm the LLM via dry-run adjudications.
        Pass ?device_ids=<id1>,<id2> to explicitly specify devices (Phase 100 bootstrap).
        Falls back to recent agent_rulings, then ioid_devices table.
        llm_available=false means warm-up ran on rule fallback logic only.
      tags: [Agent]
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
        - name: batch_size
          in: query
          required: false
          schema:
            type: integer
            default: 5
        - name: device_ids
          in: query
          required: false
          description: Comma-separated device_ids to warm up (Phase 100 bootstrap).
          schema:
            type: string
      responses:
        "200":
          description: Warm-up report
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WarmUpReport"
        "401":
          description: Unauthorized

  /agent/gate-readiness:
    get:
      summary: Get composite live-mode gate readiness
      description: |
        Aggregates validation_gate + fleet_health into a composite gate readiness
        snapshot (Phase 84). overall_ready=true requires both gate_passed=true AND
        fleet_health != CRITICAL.

        validation_gate:  consecutive_clean / gate_n progress + gate_passed
        fleet_health:     AgentSupervisor ALL_HEALTHY / DEGRADED / CRITICAL
        gate_attestations_count: number of on-chain gate proofs in gate_attestations table
        overall_ready:    gate_passed AND fleet_health not in (CRITICAL, UNKNOWN)
        dry_run_active:   current AGENT_DRY_RUN config value

        Tool #53 get_gate_readiness exposes this same data to the BridgeAgent LLM.
      tags: [Agent]
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Gate readiness snapshot
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GateReadiness"
        "401":
          description: Unauthorized

  /agent/reactive-adjudication-log:
    get:
      summary: Get reactive adjudication interrupt log
      description: |
        Returns the log of Class J HIGH-risk triggered out-of-cycle LLM rulings
        (Reactive Adjudication Interrupt, Phase 82).

        was_deferred=true entries were rate-limited by the token bucket (W1 mitigation:
        max REACTIVE_ADJUDICATION_RATE_LIMIT calls per REACTIVE_ADJUDICATION_WINDOW_SECONDS,
        default 2/60s). These indicate Class J HIGH events that arrived faster than the
        LLM rate limit allows; they are logged but no ruling was issued.

        The reactive path collapses Class J detection → ruling → enforcement from
        15+ minutes (polling) to <5 seconds end-to-end.
        Phase 82.
      tags: [Agent]
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
        - name: device_id
          in: query
          required: false
          schema:
            type: string
          description: Optional 64-character hex device ID filter
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 20
          description: Max entries to return
      responses:
        "200":
          description: Reactive adjudication interrupt log
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReactiveAdjudicationLog"
        "401":
          description: Unauthorized — invalid or missing api_key

  /agent/campaign-status:
    get:
      summary: Get adjudication campaign tracker status
      description: |
        Returns the full campaign tracker snapshot: consecutive_clean streak toward
        the N=100 validation gate, divergence breakdown by reason, verdict distribution,
        recent sessions, and estimated sessions remaining to gate passage.

        This endpoint aggregates ruling_validation_log in a single atomic read. All
        campaign metrics are derived from the same get_validation_summary() snapshot
        (W1 mitigation: no drift between consecutive_clean and divergence counts).

        divergence_breakdown groups non-nominal evidence fields extracted by
        _extract_divergence_fields(). Empty divergence_breakdown means all divergences
        have nominal evidence — a healthy signal pre-gate.

        estimated_sessions_to_gate = ceil(remaining / (1 - divergence_rate)).
        Returns null when divergence_rate == 1.0 (100% divergence rate).
        Phase 88.
      tags: [Agent]
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Campaign tracker snapshot
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignStatus"
        "401":
          description: Unauthorized — invalid or missing api_key

  /agent/protocol-intelligence:
    get:
      summary: Get Protocol Intelligence Report
      description: |
        Returns the latest ProtocolIntelligenceAgent composite score (Phase 89).
        Synthesizes gate_progress, fleet_health, divergence_clarity, corpus_pass,
        and class_j_confidence into a single protocol_health_score (0–100).
        Phase 90 shadow_pass_score and Phase 91 triage_confidence_score feed in
        as optional bonus components (up to +5 each, capped at 100).
        ready_for_live_mode = score >= 85.0 AND gate_passed AND fleet != CRITICAL.
        If no stored report exists, computes live from current store state.
        Phase 89.
      tags: [Agent]
      parameters:
        - in: header
          name: x-api-key
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Protocol intelligence report
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProtocolIntelligenceReport"
        "401":
          description: Unauthorized

  /agent/shadow-enforcement-log:
    get:
      summary: Get Shadow Enforcement Log
      description: |
        Returns shadow enforcement log entries — BLOCK actions that would have
        suspended PHGCredential but were logged instead (ENFORCEMENT_SHADOW_MODE=true).
        Operators review this endpoint to validate false-positive rate before setting
        ENFORCEMENT_SHADOW_MODE=false for real enforcement. Phase 90.
      tags: [Agent]
      parameters:
        - in: header
          name: x-api-key
          required: true
          schema:
            type: string
        - in: query
          name: device_id
          required: false
          schema:
            type: string
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            default: 50
      responses:
        "200":
          description: Shadow enforcement log entries
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShadowEnforcementLog"
        "401":
          description: Unauthorized

  /agent/triage-report:
    get:
      summary: Get Divergence Triage Report
      description: |
        Returns per-device divergence triage entries from DivergenceTriageAgent (Phase 91).
        Each entry includes detected adversarial patterns: ml_bot_cluster (>=2 Class J HIGH),
        cheat_cluster (>=1 hard cheat code), enrollment_anomaly (>=3 enrollment mismatches).
        escalated=true devices are candidates for immediate SessionAdjudicator ruling.
        Phase 91.
      tags: [Agent]
      parameters:
        - in: header
          name: x-api-key
          required: true
          schema:
            type: string
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            default: 50
      responses:
        "200":
          description: Divergence triage report
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TriageReport"
        "401":
          description: Unauthorized

  /agent/request-activation:
    post:
      summary: Record operator activation request
      description: |
        Records an operator intent to activate live mode enforcement. Checks Phase 89
        ProtocolIntelligenceAgent ready_for_live_mode status, stores the request in
        the activation audit log, and returns readiness status with blocking conditions.
        NEVER auto-activates — operator must still set AGENT_DRY_RUN=false via
        POST /agent/config. Phase 92.
      tags: [Agent]
      parameters:
        - in: query
          name: api_key
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                notes:
                  type: string
                  description: Optional operator notes to record with the activation request.
      responses:
        "200":
          description: Activation readiness check result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivationReadiness"
        "401":
          description: Unauthorized

  /agent/activation-log:
    get:
      summary: Get live mode activation audit log
      description: |
        Returns all readiness_check and operator_request events from the
        live mode activation audit trail (Phase 92). Each entry includes
        protocol_health_score, blocking_conditions, and any operator notes.
        Ordered by created_at DESC.
      tags: [Agent]
      parameters:
        - in: query
          name: api_key
          required: true
          schema:
            type: string
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            default: 50
      responses:
        "200":
          description: Activation audit log
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivationLog"
        "401":
          description: Unauthorized

  /agent/escalation-ruling-log:
    get:
      summary: Get triage reactive escalation ruling log
      description: |
        Returns entries from the Phase 94 triage reactive loop. Each entry is written
        when DivergenceTriageAgent escalates a device and SessionAdjudicator fires an
        immediate ruling via the divergence_pattern_detected bus event.
        was_deferred=1 entries were rate-limited (1/device/hour default).
        Phase 94.
      tags: [Agent]
      parameters:
        - in: query
          name: api_key
          required: true
          schema:
            type: string
        - in: query
          name: device_id
          required: false
          schema:
            type: string
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            default: 50
      responses:
        "200":
          description: Escalation ruling log entries
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EscalationRulingLog"
        "401":
          description: Unauthorized

  /agent/enforcement-certificate:
    post:
      summary: Issue a portable Enforcement Readiness Certificate
      description: |
        Phase 96 — Computes audit_hash = SHA-256(canonical JSON of activation audit fields),
        hmac_sig = HMAC-SHA256(audit_hash, operator_api_key). Persists the cert (UNIQUE audit_hash
        — idempotent). Certs expire after enforcement_cert_ttl_s (default 24h).
        First portable, operator-signed cryptographic proof of AI enforcement readiness.
        Phase 96.
      tags: [Agent]
      parameters:
        - in: query
          name: api_key
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Enforcement Readiness Certificate issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnforcementCertificate"
        "401":
          description: Unauthorized
    get:
      summary: Get the latest Enforcement Readiness Certificate
      description: |
        Returns the most recently issued ERC, or has_certificate=false if none issued yet.
        is_expired=true is advisory — operator is responsible for renewal.
        Phase 96.
      tags: [Agent]
      parameters:
        - in: query
          name: api_key
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ERC status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnforcementCertificateStatus"
        "401":
          description: Unauthorized

  /agent/config:
    post:
      summary: Gated live-mode transition (Phase 97)
      description: |
        Phase 97 — When dry_run=false is requested, enforces three-condition gate:
          gate_passed: consecutive_clean >= gate_n AND divergence_rate OK
          cert_valid: valid non-expired EnforcementReadinessCertificate exists
          audit_valid: activation audit chronological invariant satisfied
        Any failure returns HTTP 422 with blocking conditions array.
        On success, flips cfg.agent_dry_run_mode and publishes live_mode_enabled to bus.
        All attempts logged to live_mode_guard_log. Phase 97.
      tags: [Agent]
      parameters:
        - in: query
          name: api_key
          required: true
          schema:
            type: string
        - in: query
          name: dry_run
          required: true
          schema:
            type: boolean
      responses:
        "200":
          description: Config updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  dry_run:
                    type: boolean
                  live_mode_enabled:
                    type: boolean
                  blocking:
                    type: array
                    items:
                      type: string
        "401":
          description: Unauthorized
        "422":
          description: Live mode preconditions not met

  /agent/live-mode-guard:
    get:
      summary: Live-mode guard audit log (Phase 97)
      description: |
        Every attempt to enable live mode via POST /agent/config is recorded here.
        Includes approved transitions and blocked attempts with blocking_conditions.
        Phase 97.
      tags: [Agent]
      parameters:
        - in: query
          name: api_key
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
            default: 50
      responses:
        "200":
          description: Guard log entries
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LiveModeGuardLog"
        "401":
          description: Unauthorized

  /agent/operator-status:
    get:
      summary: Get VAPI bridge operator staking status (Phase 99A)
      description: |
        Phase 99A — AGaaS Foundation. Returns the latest on-chain staking event
        recorded for a VAPI bridge operator address in VAPIOperatorRegistry.sol.
        Event types: register (stake locked), slash (50% burned / 50% claimant),
        deregister_request (30-day cooldown initiated), deregister (stake returned).
        Returns found=false if the operator has no recorded events.
      tags: [Agent]
      parameters:
        - in: query
          name: api_key
          required: true
          schema:
            type: string
        - in: query
          name: operator_address
          required: true
          schema:
            type: string
          description: Ethereum address of the VAPI bridge operator
      responses:
        "200":
          description: Operator status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperatorStatus"
        "401":
          description: Unauthorized

  /agent/mint-vhp:
    post:
      summary: Mint a VHP soulbound token (Phase 99C)
      description: |
        Phase 99C — Verified Human Proof (VHP). Mints a soulbound ERC-4671 token
        on VAPIVerifiedHumanProof.sol for a device that has passed all three gate conditions:
          1. audit_valid=True (activation audit chronological invariant)
          2. gate_passed=True (consecutive_clean >= validation_gate_n)
          3. AGENT_DRY_RUN=false (live enforcement mode active)
        Returns tx_hash + expires_at on success. Returns 422 with error detail on gate failure.
        GSR cert_level=2 requires GSR_ENABLED=true and N>=30 calibration sessions.
      tags: [Agent]
      parameters:
        - in: query
          name: api_key
          required: true
          schema:
            type: string
        - in: query
          name: device_id
          required: true
          schema:
            type: string
          description: Device identifier
        - in: query
          name: to_address
          required: true
          schema:
            type: string
          description: Recipient Ethereum address for the VHP token
      responses:
        "200":
          description: VHP mint successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VHPMintResult"
        "401":
          description: Unauthorized
        "422":
          description: Gate condition not met (audit_valid/gate_passed/dry_run)

  /agent/vhp-status/{device_id}:
    get:
      summary: Get VHP token status for a device (Phase 99C)
      description: |
        Phase 99C — Returns the latest VHP issuance record for a device from the bridge SQLite store.
        is_valid=True when expires_at > now. found=False if no VHP has been minted for this device.
        vhp_contract_address reflects the configured VAPIVerifiedHumanProof.sol address.
      tags: [Agent]
      parameters:
        - in: path
          name: device_id
          required: true
          schema:
            type: string
        - in: query
          name: api_key
          required: true
          schema:
            type: string
      responses:
        "200":
          description: VHP status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VHPStatus"
        "401":
          description: Unauthorized

  /agent/epistemic-consensus-log:
    get:
      summary: Epistemic consensus decisions log (Phase 98)
      description: |
        Phase 98 — Multi-agent weighted consensus gate before irreversible BLOCK enforcement.
        ClassJDetector (0.40) + DivergenceTriageAgent (0.40) + AgentSupervisor (0.20).
        consensus_score < threshold (default 0.60) downgrades BLOCK to HOLD.
        downgraded_count shows how often the false-positive protection layer fired.
        Phase 98.
      tags: [Agent]
      parameters:
        - in: query
          name: api_key
          required: true
          schema:
            type: string
        - in: query
          name: device_id
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
            default: 50
      responses:
        "200":
          description: Consensus log
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EpistemicConsensusLog"
        "401":
          description: Unauthorized

  /agent/activation-audit:
    get:
      summary: Get tamper-evident activation audit summary
      description: |
        Phase 95 — Cross-references live_mode_activation_log (Phase 92) with gate_attestations
        (Phase 84/87) to produce a tamper-evident audit trail verifying the full activation
        sequence. audit_valid=True confirms: (1) protocol scored ready_for_live_mode=True,
        (2) an on-chain GateAttestationAnchor.sol entry subsequently exists, and (3) the
        chronological order is intact (ready check BEFORE on-chain anchor).
        This is the cryptographic pre-condition for enabling AGENT_DRY_RUN=false.
        Callable from tournament CI pipelines via VAPITournamentGate.verify_activation_audit().
        Phase 95.
      tags: [Agent]
      parameters:
        - in: query
          name: api_key
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Activation audit summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivationAuditReport"
        "401":
          description: Unauthorized

  /federation/threat-signal:
    post:
      summary: Receive a peer threat signal broadcast
      description: |
        Endpoint called by peer bridge instances to broadcast BLOCK ruling
        commitment hashes via HMAC-authenticated federation protocol.
        Authenticated via X-Federation-HMAC header (HMAC-SHA256 of JSON body).
        Duplicate commitment_hash is silently accepted (idempotent).
        Phase 80.
      tags: [Federation]
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ThreatSignalPayload"
      responses:
        "200":
          description: Signal received and stored
        "401":
          description: Unauthorized — invalid HMAC or missing api_key
        "422":
          description: Validation error

  /federation/peers:
    get:
      summary: Get federation peer list and signal statistics
      description: |
        Returns the configured peer list and federation threat signal counts.
        Phase 80.
      tags: [Federation]
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Federation status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FederationStatus"
        "401":
          description: Unauthorized

  /agent/activation-status:
    get:
      tags: [Agent]
      summary: Get 5-step live-mode activation checklist
      description: >-
        Phase 100 — Returns the current activation checklist with
        current_blocking_step (1-6), progress_pct, recommended_action,
        and per-step status. current_blocking_step=6 means fully activated.
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ActivationStatus
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivationStatus"
        "401":
          description: Unauthorized

  /agent/quicksilver-status:
    get:
      summary: QuickSilver stIOTX collateral status (Phase 101)
      operationId: getQuicksilverStatus
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
        - name: operator_address
          in: query
          required: false
          schema:
            type: string
          description: Filter by operator address
      responses:
        '200':
          description: QuickSilver stIOTX collateral status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuickSilverStatus'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /agent/edge-ai-profile:
    get:
      summary: Edge AI profile for IoTeX ecosystem positioning (Phase 101)
      operationId: getEdgeAiProfile
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Edge AI profile with agent fleet and IoTeX layer integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdgeAIProfile'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /agent/vhp-renewal-log:
    get:
      summary: VHP auto-renewal log (Phase 102)
      operationId: getVhpRenewalLog
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
        - name: device_id
          in: query
          required: false
          schema:
            type: string
          description: Filter by device_id (optional)
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: VHP renewal log entries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VHPRenewalLog'
        '403':
          $ref: '#/components/responses/Unauthorized'

  /agent/run-activation-simulation:
    post:
      summary: Run Phase 103 live activation simulation
      description: >
        Seeds all gate conditions and inserts the protocol's first VHP issuance
        (simulation, no chain call). Sets cfg.agent_dry_run_mode=False in-memory.
      tags: [Agent]
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
        - name: n_sessions
          in: query
          required: false
          schema:
            type: integer
            default: 110
          description: Number of simulation sessions to seed (must exceed gate_n=100)
      responses:
        "200":
          description: Simulation result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimulationResult"
        "403":
          description: Forbidden

  /agent/first-vhp-status:
    get:
      summary: Return the first VHP issuance record
      description: >
        is_simulation=True when tx_hash starts with 'sim_' (Phase 103 activation).
        found=False when no VHP has ever been issued.
      tags: [Agent]
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: First VHP status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FirstVHPStatus"
        "403":
          description: Forbidden

  /agent/commit-activation:
    post:
      summary: Persistent Activation Commit (Phase 104 W1 mitigation)
      description: >
        Runs simulation if no VHP exists, verifies Phase 97 gate, writes
        activation_committed=True to store (persists across restarts), sets
        cfg.agent_dry_run_mode=False, computes and stores PMI.
      tags: [Agent]
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
        - name: n_sessions
          in: query
          required: false
          schema:
            type: integer
            default: 110
        - name: notes
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Commit activation result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommitActivationResult"
        "403":
          description: Forbidden

  /agent/protocol-maturity:
    get:
      summary: ProtocolMaturityIndex (PMI) + activation state (Phase 104)
      description: >
        PMI: 0=uninitiated / 1=simulated / 2=testnet_organic / 3=mainnet.
        activation_committed=True means dry_run=False persists across restarts.
      tags: [Agent]
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Protocol maturity status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProtocolMaturityStatus"
        "403":
          description: Forbidden

  /agent/run-readiness-validation:
    post:
      summary: Run live mode readiness validation corpus (Phase 107)
      description: >
        Runs N synthetic NOMINAL sessions through SessionAdjudicator._rule_fallback().
        A BLOCK on a nominal session = false positive.
        ready_for_live=True requires: n_tested>=100 AND false_positive_count==0 AND
        activation_committed AND NOT dry_run_active AND pmi>=1.
        W1 isolation: results go to live_mode_readiness_reports table only.
      tags: [Agent]
      parameters:
        - name: api_key
          in: query
          required: true
          schema:
            type: string
        - name: n
          in: query
          required: false
          schema:
            type: integer
            default: 100
      responses:
        "200":
          description: Readiness validation report
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadinessReport"
        "403":
          description: Forbidden

  /agent/live-mode-readiness:
    get:
      summary: Latest live mode readiness report (Phase 107)
      tags: [Agent]
      parameters:
[...]
